{% extends "base.html" %}

{% block title %} Edit Pet {% endblock %}

{% block content %}
<h3>NAME: {{pet.name}}</h3>
<img src="{{pet.photo_url}}" alt="">
<p>AGE: {{pet.age}}</p>
<p>SPECIES: {{pet.species}}</p>

<form id="edit-pet-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {% endfor %}

  <button>Edit This Pet!</button>
</form>
{% endblock %}